{
  "page_port":"8082",
  "event": {
    "grill_ready": "",
    "main_temp_reached": "",
    "probe1_temp_reached": "",
    "probe2_temp_reached": "",
    "pellets_low": "",
    "cooldown_complete": ""
  }
}
